/*

  Josh's Custom CSS Reset

  https://www.joshwcomeau.com/css/custom-css-reset/

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
}
div {
  display: flex;
  padding: 2%;
  gap: 5%;
  margin-bottom: 3%;
  place-content: center;
  background-color: #707078;
  border-radius: 10px;
}
#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 2%;
  min-height: 100dvh;
  background-color: #87919e;
  place-content: center;
}
ul {
  display: grid;
  gap: 3%;
  margin-right: 30px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  min-height: 80dvh;
  background-color: #714955;
  padding: 2%;
  border-radius: 10px;
  height: auto;
  overflow-y: scroll;
  padding-right: 1%;
}
li {
  background-color: #012622;
  display: flex;
  place-content: center;
  border-radius: inherit;
  flex-direction: column;
  padding: 2%;
  align-items: center;
}
img {
  max-width: 50%;
}
